{% extends 'base.html.twig' %}

{% block title %}Оформление заказа{% endblock %}

{% block body %}
   <h1>Your order success</h1>

    <p> <a href="{{ path('default') }}" > Продолжить покупки </a>
{% endblock %}